<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="com.lily.ex.jsp.dao.UserDAO">

	<insert id="insertUser" parameterType="map">
	
		INSERT INTO 
			`new_user`
		(
			`name`
			, `yyyymmdd`
			, `introduce`
			, `email`
			, `createdAt`
			, `updatedAt`
		)
		
		VALUES
		(
			#{name}
			, #{yyyymmdd}
			, #{introduce}
			, #{email}
			, now()
			, now()
		)
	
	</insert>
	
	
	
	<insert id="insertUserWithId" parameterType="com.lily.ex.jsp.model.User"
			useGeneratedKeys="true" keyProperty="id">  
		
		INSERT INTO 
			`new_user`
		(
			`name`
			, `yyyymmdd`
			, `introduce`
			, `email`
			, `createdAt`
			, `updatedAt`
		)
		
		VALUES
		(
			#{name}
			, #{yyyymmdd}
			, #{introduce}
			, #{email}
			, now()
			, now()
		)
	
	</insert>
	
	
	
		<!--  가장 최근 등록된 사용자 정보 조회  -->
		
	<select id="selectLastUser" resultType="com.lily.ex.jsp.model.User">
	
		SELECT
			`id`
			, `name`
			, `yyyymmdd`
			, `introduce`
			, `email`
			, `createdAt`
			, `updatedAt`
			
		FROM
			`new_user`
			
		ORDER BY `id` DESC		<!--  가장 최근이라 DESC 사용 -->
		LIMIT 1					<!--  하나만 출력 -->
	
	</select>

</mapper>
